<h3>Add new restaurant:</h3>
<form class="pure-form pure-form-stacked" action="/restaurant" method="POST">
  <input class="pure-input-1" placeholder="Name of restaraunt" type="text" name="name">
  <button type="submit" class="pure-button">Add to list</button>
</form>
