<!doctype html>
<html lang="en">
<head>
  <title>Example App</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive.css">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>

  <main role="main" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <hgroup>
          <h1>Au Review'oir</h1>
        </hgroup>
        <hr>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
    {{{body}}}
    </div>
  </main>

</body>
</html>
